@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
@import "../../../scss/breakpoints.scss";

.wrapper {
  .title {
    width: 90%;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.3125px;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 24px;
    @include md {
      font-size: 32px;
      margin-left: 24px;
    }
    @include xl {
      width: auto;
    }
  }
  @include cardElement
}
