@import "variables.scss";
@import "breakpoints.scss";

// Small devices

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices - tablets
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}


@mixin text-mobile {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

@mixin recommended-text {
  font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 14px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.75;
}

@mixin dot {
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}