@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
@import "../../../scss/breakpoints.scss";
@include cardElement;
  .length {
    font-size: 18px;
    margin-left: 14px;
    font-weight: 300;
    @include md {
      font-size: 32px;
      margin-left: 25px;
    }
  }